# generated directories
java/build/
java/src/main/webapp
java/vospace-2.0.war

# local env settings
.env

# compiled files
*.pyc

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python Distribution / packaging
.Python
build/
dist/

# ignore our fixture data
fixtures/vosdata/
